<div id="nav">
  <button>
    <a href="/signup" class="signup-button">Sign Up</a>
  </button>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/profile/Claude">Profile</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</div>
