<!DOCTYPE html>
<html>
  <head>
    <title>My story hub</title>
  </head>
  <body>
    <main>
      <h3>Thank you for trying to get in touch with us</h3>

      <div>
        <h4><%= contactInfo.founder %></h4>
        <h5><%= contactInfo.email %></h5>
        <h6><%= contactInfo.address %></h6>
        <h6><%= contactInfo.company %></h6>
      </div>
    </main>
  </body>
</html>
