<body>
  <div id="nav">
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/profile/Claude">Profile</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </div>
  <%- body %>
  <div id="footer">
    <footer>
      <p>My Story Hub &copy; 2023</p>
    </footer>
  </div>
</body>
