<!-- uploadSuccess.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>Story Upload Successful</title>
  </head>
  <body>
    <h1>Story Upload Successful!</h1>

    <p>Your story has been uploaded successfully.</p>

    <a href="/profile:username">Go Back to Profile</a>
  </body>
</html>
