html{
    background-color: #F5F5F6;
    color: #1F2833;
    font-size: 15px;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 61.25rem;
    margin: 0px auto;
    margin-top: 5rem;
    position: relative;
}

#nav, #footer, .container{
    padding: .625rem 1.25rem 0;
    background-color: #EDEDED;
    border-radius: 0.5rem;
    border: 0.1rem solid #80808073;
}

#nav {
  margin-bottom: 1rem;
}

#footer {
  border-radius: 0.5rem;
  background-color: #A5D6A7;
  margin-top: 1rem;
}

#footer  p {
  margin: 0;
  text-align: center;
  padding-bottom: 0.5rem;
}