html{
    background-color: #DFDFDF;
    color: #1F2833;
    font-size: 15px;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 61.25rem;
    margin: 0px auto;
    margin-top: 5rem;
    position: relative;
}

#nav, #footer, .container{
    padding: .625rem 1.25rem 0;
    background-color: #FFFFFF;
    border-radius: 0.2rem;
    border: 0.1rem solid #80808073;
}

#nav {
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  padding: 5px;
  border-radius: 0.2rem;
}

nav a {
  text-decoration: none;
  color: #1F2833;
}

nav li:hover {
  background-color: #d4bff9;
}

#footer {
  border-radius: 0.2rem;
  margin-top: 1rem;
}

#footer  p {
  margin: 0;
  text-align: center;
  padding-bottom: 0.5rem;
}