html{
    background-color: #2A2E2F;
    color: rgb(205, 201, 195);
    font-size: 15px;
}

body {
    background-color: #181A1B;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    width: 80rem;
    margin: 0px auto;
    margin-top: 5rem;
    position: relative;
    border: 0.05rem solid #363B3D;
}

#nav, #footer, .container{
    padding: .625rem 1.25rem 0.625rem;
}

#nav {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#nav hr {
  margin-top: 15px;
  width: 80%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
  font-size: 16px;
}

nav ul li {
  display: inline;
  padding: 5px;
  border-radius: 0.2rem;
  font-size: 20px;
  padding: 10px;
}

nav a {
  text-decoration: none;
  color: rgb(205, 201, 195);
}

nav li:hover {
  background-color: #03A64A;
}

.container {
  width: 90%;
  margin: 0 auto;
}

#footer {
  border-radius: 0.2rem;
  background-color: #25282A;
}

#footer  p {
  margin: 0;
  text-align: center;
  padding-bottom: 0.5rem;
}